name: Release

on:
  push:
    tags: ["v[0-9]+.[0-9]+.[0-9]+"]
    branches: ["main"]

jobs:

  linux-windows-build:
    name: MinGW Build
    if: startsWith( github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
    
    - name: OS Packages 
      run: |
        sudo apt-get update --fix-missing && sudo apt-get -y install \
        git build-essential zlib1g zlib1g-dev wget zip unzip \
        mingw-w64 binutils-mingw-w64 g++-mingw-w64 gcc-multilib

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Git Fetch Tags
      run: git fetch --prune --unshallow --tags -f

    - name: Build Binaries
      run: |
        make clean
        make
        rm -f ./compiled/.gitkeep
        VERSION=$(git describe --tags --abbrev=0)
        cat extension.json | jq ".version |= \"$VERSION\"" > ./compiled/extension.json
        cp LICENSE ./compiled/LICENSE
        cd compiled
        tar -czvf ../nanodump.tar.gz .

    - name: "Publish Release"
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: false
        files: |
          ./nanodump.tar.gz
